input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield !important;
}

.laptopImage {
    display: block !important;
}

.phoneImage {
    display: none !important;
}

@media (max-width: 1220px) {
    .left-sidebar {
        top: 100px !important;
        max-width: 100% !important;
    }

    .icon-menu {
        top: 40px !important;
    }
}

@media (max-width: 540px) {
    .email {
        font-size: 16px !important;
    }

    .laptopImage {
        display: none !important;
    }

    .phoneImage {
        display: block !important;
    }
}

/* // notify design  */
#popup {
    position: fixed;
    top: -60px;
    right: 10px;
    background: white;
    border-bottom: 1px solid red;
    padding: 15px 30px;
    font-size: 15px;
    width: 300px;
    font-family: sans-serif;
    color: #ffffff;
    animation: popup 5s ease-in-out;
    color: red;
    text-align: start;
    font-weight: 600;
}

#popup.success {
    color: green;
    border-bottom: 1px solid green;
}

@keyframes popup {

    10%,
    90% {
        top: 20px;
    }

    100% {
        top: -60px;
    }
}

.contact-area .contact-content form .input-group input:autofill {
    background-color: none;
    background: none;
}

.portfolio-categories {
    padding: 12px 15px;
    background-color: rgba(0, 0, 0, .3);
    border-radius: inherit;
}