input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield !important;
}

.laptopImage {
    display: block !important;
}

.phoneImage {
    display: none !important;
}

@media (max-width: 1220px) {
    .left-sidebar {
        top: 100px !important;
        max-width: 100% !important;
    }

    .icon-menu {
        top: 40px !important;
    }
}

@media (max-width: 540px) {
    .email {
        font-size: 16px !important;
    }

    .laptopImage {
        display: none !important;
    }

    .phoneImage {
        display: block !important;
    }
}